<!-- Grading Section -->
                <div id="section-grading" class="dashboard-section d-none">
                    <div class="card shadow-sm border-0">
                         <div class="card-body">
                             <h4 class="card-title mb-4"><i class="fa fa-check-square-o text-success me-2"></i>{{#str}}assignments_needing_grading, local_smartdashboard{{/str}}</h4>
                             <div id="grading-content">
                                 <div class="text-center p-5"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
                             </div>
                         </div>
                    </div>
                </div>
